@import url(../css/style.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-width: 372px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

main .project--cover {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50vh;
    background: url(../img/cover-2.svg) no-repeat center center;
    background-size: cover;
    position: relative;
}

main .project--cover .title {
    font-size: 4rem;
    margin-bottom: 10px;
    color: var(--dark-color);
    font-weight: bold;
    text-align: center;
}

main .project--cover .subtitle {
    width: fit-content;
    margin-inline: auto;
    font-size: 1.6rem;
    color: var(--light-color);
    background-color: var(--primary-color);
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    text-align: center;
}

@media (max-width: 768px) {
    main .project--cover {
        height: 40vh;
    }

    main .project--cover .title {
        font-size: 2.5rem;
    }

    main .project--cover .subtitle {
        font-size: 1rem;
        border-radius: 100px;
    }
}

/* content */
main .project--content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem 0;
}

main .project--content .row {
    margin: 4rem 0;
}

main .project--content .project--title {
    font-size: 2.3rem;
    color: var(--dark-color);
    font-weight: bold;
    text-align: center;
    margin-bottom: 1rem;
}

main .project--content .project--lead {
    font-size: 1.2rem;
    color: var(--secondary-color);
    text-align: justify;
    margin-bottom: 1rem;
}

main .project--content .gallery--pc {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
}

main .project--content .gallery--pc .gallery--item {
    border-radius: 0.5rem;
    overflow: hidden;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

main .project--content .gallery--pc .gallery--item img {
    aspect-ratio: 1/1;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

main .project--content .gallery--pc .gallery--item:hover {
    transform: scale(1.02);
}

/* logbook */
.logbook {
    position: relative;
    margin-top: 1.5rem;
    width: 100%;
    height: 100%;
}

.logbook--row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1.5rem;
}

.logbook--text---title {
    text-align: center;
    font-weight: bold;
    font-size: 2rem;
    text-transform: uppercase;
}

.logbook--text---lead {
    font-size: 20px;
    text-align: justify;
}

.logbook--img img {
    aspect-ratio: 21/9;
    object-fit: cover;
}

@media (max-width: 768px) {
    .logbook {
        padding: 15px;
    }

    .logbook--row {
        display: flex;
        flex-direction: column;
    }

    .logbook--text---title {
        font-size: 1.5rem;
    }

    .logbook--text---lead {
        font-size: 15px;
    }

    .logbook--img img {
        aspect-ratio: 16/9;
        object-fit: cover;
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    .logbook--text---title {
        font-size: 2rem;
    }

    .logbook--text---lead {
        font-size: 21px;
    }

    .logbook--img img {
        aspect-ratio: 4/4;
        object-fit: cover;
    }
}

/* line in center to .logbook, effect neon */
.line {
    position: absolute;
    top: 0;
    left: 50%;
    height: 100%;
    width: 5px;
    background-color: var(--primary-color);
}

.line::after {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    width: 3px;
    height: 100%;
    box-shadow: 0 0 10px var(--primary-color), 0 0 10px var(--primary-color), 0 0 30px var(--primary-color), 0 0 80px var(--primary-color);
    opacity: 0.7;
    transition: all 0.3s ease-in-out;
}

@media (max-width: 768px) {
    .line {
        position: absolute;
        left: 0;
    }
}

/* line horizontal */
.line-horizontal {
    position: absolute;
    top: 50;
    left: 0;
    width: 100%;
    height: 3px;
    border: 3px dashed var(--primary-color);
}